.container-delete {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1.5rem 6rem;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  background-image: url(../../../../assets/images/bg-notes.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container-delete .modal{
  margin-top: 10%;
  font-size: 1.5rem;
}

.container-delete .modal button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 8rem;
  padding: 1rem;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.container-delete .modal span{
  color: var(--secondary-color);
}


.container-delete .modal-in{
  background-color: #151515;
  border: 2px solid #1f1f1f;
  padding: 3rem 6rem;
  box-sizing: border-box;
  max-width: 100%;
}
