footer {
  padding: 1.5rem 6rem;
  background-color: var(--main-bg-color);
}

footer li  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .name {
  color: var(--secondary-color);
}

@media (max-width: 750px) {
  .footer {
    padding: 1rem 3rem;
  }
}

@media (max-width: 550px) {
  .footer li{
    flex-direction: column;
  }

  .footer li ul:first-child {
    margin-bottom: 1rem;
  }
}
