.note {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
  border: 2px solid #1f1f1f;
  padding: 1rem 2rem;
  min-height: 18rem;
  box-sizing: border-box;
  box-shadow: 8px 8px 0px #1f1f1f;
}

.note-g {
  width: 40rem;
}

.note-p {
  width: 18rem;
}

.note h2 {
  position: absolute;
  font-size: 8rem;
  color: var(--secondary-color);
}

.note .content {
  margin-top: 6rem;
  font-size: 0.9rem;
}

.note .authorship {
  color: var(--third-color);
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.note .actions {
  align-self: flex-end;
}

.note .actions button {
  border: none;
  margin-left: 1rem;
  cursor: pointer;
  background-color: #151515;
}


@media (max-width: 680px) {
  .note-g {
    width: 18rem;
  }

}

@media (max-width: 610px) {
  .note .content,
  .authorship {
    font-size: 0.8rem;
  }
}

