header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  background-color: var(--main-bg-color);
}

header h1 {
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}

header span {
  color: var(--secondary-color);
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

header ul li {
  color: var(--third-color);
  font-size: 0.9rem;
  list-style-type: none;
}

header ul li:hover {
  color: var(--main-color);
  cursor: pointer;
}

@media (max-width: 840px) {
  .header {
    padding: 1.5rem 3rem;
  }
  .nav-bar {
    position: fixed;
    right: -16rem;
    top: 4rem;
    width: 12rem;
    height: 20%;
    background-color: var(--main-bg-color);
  }

  .nav-bar ul {
    flex-direction: column;
  }

  .nav-bar ul li {
    padding-left: 1rem;
  }

  .nav-bar ul li:first-child {
    padding-top: 1.5rem;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .menu-icon span {
    display: block;
    width: 1.6rem;
    height: 0.1rem;
    background: var(--third-color);
    transition: 0.2s ease-in-out;
  }

  .menu-icon span:nth-child(2) {
    margin: 0.25rem 0;
  }

  .menu-icon-class span:nth-child(2) {
    display: none;
  }

  .menu-icon-class span:nth-child(1) {
    transform: rotate(40deg);
  }

  .menu-icon-class span:nth-child(3) {
    transform: rotate(-39deg);
    margin-top: -1.5px;
  }

  .menuClass {
    right: 0;
    position: absolute;
  }
}

@media (max-width: 610px) {
  .header h1 {
    font-size: 1.5rem;
  }

  header li a {
    font-size: 0.8rem;
  }
}
