header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  background-color: var(--main-bg-color);
}

header h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

header span {
  color: var(--secondary-color);
}

header li {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

header li a {
  color: var(--third-color);
  text-decoration: none;
}

header li a:hover {
  color: var(--main-color);
}

@media (max-width: 750px) {
  .header {
    padding: 1.5rem 3rem;
  }
  .header h1 {
    font-size: 1rem
  }
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }
  .header h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
