<header class="header">
  <section routerLink="/home" class="logo">
    <h1 class="ff-unbounded">StickyN<span>&#123; &#41;</span>tes</h1>
  </section>
  <section class="menu-icon" [class.menu-icon-class]="menuIconVariable" (click)="openMenu()">
    <span></span>
    <span></span>
    <span></span>
  </section>
  <section class="nav-bar" [class.menuClass]="menuVariable">
    <ul>
      <li routerLink="/notes" class="ff-roboto-mono" (click)="openMenu()">My notes</li>
      <li routerLink="/home" class="ff-roboto-mono" (click)="openMenu()">About the project</li>
    </ul>
  </section>
</header>
